* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
    height: 150px;
}

img:hover {
    width: 400px;
    height: 300px;
}

.full {
    width: 100vw;
    height: 100vh;
}